<div class="container mt-5">
    <div *ngIf="!isRegisterMode">
        <h1>Find your match!</h1>
        <p class="lead">Sign up!</p>
        <div class="btn-group">
            <button class="btn btn-primary" (click)="registerToggle()">Register</button>
            <button class="btn btn-info">Learn more...</button>
        </div>
    </div>

    <div class="container" *ngIf="isRegisterMode">
        <div class="row">
            <div class="col">
                <app-register></app-register>
                <br>
                <a class="btn btn-outline-secondary" (click)="registerToggle()">Back to Home Page</a>
            </div>
        </div>
    </div>
</div>